* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "TwentyCentury";
    src: url("./css/fonts/20Cen.otf");
    }


    :root {
        --gradient-stop-1: 18,194,233;
        --gradient-stop-2: 196,113,237;
        --gradient-stop-3: 246,79,89;

        }

#logo-gradient-horizontal {
    --color-stop-1: rgba(var(--gradient-stop-1),1);
    --color-stop-2: rgba(var(--gradient-stop-2),1);
    --color-stop-3: rgba(var(--gradient-stop-3),1);
}

body {
    font-family: 'TwentyCentury';
    align-items: center;
    justify-items: center;
}

.main {
    width: 100vw;
    height: 100vh;
}

.gradient {
    /* background: linear-gradient(90deg, rgba(18,194,233,1) 0%, rgba(196,113,237,1) 75%, rgba(246,79,89,1) 120%); */
    background: linear-gradient(90deg, rgba(var( --gradient-stop-1), 1) 0%, rgba(var( --gradient-stop-2), 1) 75%,  rgba(var( --gradient-stop-3), 1) 120%);
    background-size: 400% 400%;
    animation: AnimationName 15s ease infinite;
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.logo {
    fill: url(#logo-gradient-horizontal) gray;
    width: 80%;
    margin-bottom: 10%;
}

.container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 65vw;
    height: 70vh;
    /* background-color: #efefef; */
    border-radius: 50px;
    align-items: center;
    display: grid;
    grid-template-columns: 30% 70%;
}

.container-border {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 65vw;
    height: 70vh;
    border: 10px solid #e6e6e6;
    border-radius: 60px;
    align-items: center;
    box-shadow: 0px 11px 28px -5px rgba(0,0,0,0.50);
    mix-blend-mode: soft-light;
}

.left-side{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #efefef;
    border-radius: 50px 0px 0px 50px;
    height: 100%;
}

.right-side{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 5%;
    grid-template-rows: repeat(auto, 1fr);
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 0px 50px 50px 0px;
    height: 100%;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.25);
    grid-column-start: 2;
    grid-column-gap: 10px;

}


.left-side a{
    text-decoration: none;
}

.button{
    color: white;
    background: linear-gradient(90deg, rgba(var( --gradient-stop-1), 1) 0%, rgba(var( --gradient-stop-2), 1) 75%,  rgba(var( --gradient-stop-3), 1) 120%);
    padding: 10px 50px;
    border-radius: 30px;
    transition: all 0.1s ease-in-out;
}


.button:hover{
    background-color:#000;
    opacity:0.75;
}

.gradient-item {
    height: 50%;

}

.gradient-item svg {
    height: 3%;
    fill: none;
    stroke: black;
    stroke-width: 5%;
    position: absolute;
}

.text-hidden, .svg-hidden {
        cursor: pointer;
    visibility: none;

    opacity: 0;
}

.gradient-div-1 {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(var( --gradient-stop-1), 1) 0%, rgba(var( --gradient-stop-2), 1) 75%,  rgba(var( --gradient-stop-3), 1) 120%);
    border-radius: 20px;
}


.gradient-div-1:hover .svg-hidden {
        visibility: visible;

    opacity: 1;
}

.svg-hidden:hover p.text-hidden {
    visibility: visible;
  opacity: 1;
  z-index: 100;
}



.gradient-div-2 {
    width: 100%;
    height: 100%;
    background-color: #FAACA8;
    background: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    border-radius: 20px;
}

/* .gradient-item-border {
    position: absolute;
    box-shadow: 0px 11px 28px -5px rgba(0,0,0,0.50);
    border: 5px solid black;
    mix-blend-mode: soft-light;
    width:20%;
    float:left;

} */



/*
.contents{
    grid-column-start: 2;

} */
